aiohttp==3.10.5
fastapi==0.114.2
uvicorn==0.30.6
passlib==1.7.4
ping3==4.0.8
proxmoxer==2.1.0
pydantic==2.9.1
pydantic_settings==2.5.2
PyJWT==2.9.0
PyYAML==6.0.2
Requests==2.32.3
ruamel.yaml==0.18.6
SQLAlchemy==2.0.34
sqlalchemy[asyncio]==2.0.34
aiosqlite==0.20.0
bcrypt==4.2.0